/* General Styles */
body {
    font-family: 'Mantinia Regular', sans-serif;
    background-color: black; /* Fallback color */
    color: #fff; /* For contrast against the background */
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

img {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
}

img:nth-child(even) {
    border-radius: 20px;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: -40px;
    background-color: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.navbar a:hover {
    color: #ffcc00;
    transition: color 0.3s;
}

/* Ensure the Mantinia Regular font is loaded */
@font-face {
    font-family: 'Mantinia Regular';
    src: url('Mantinia-Regular.woff2') format('woff2'),
         url('Mantinia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Ensuring the background image styling */
body {
    background-image: url('https://static.wikia.nocookie.net/eldenring/images/7/7a/ER_Godfrey.png/revision/latest?cb=20220204222224');
    background-size: cover;
    background-position: center 15%;
    background-repeat: no-repeat;
}
